<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.WhatsTheGame"
        tools:targetApi="31">


        <activity
            android:name=".activitys.SettingsActivity"
            android:label="Ajustes"
            android:parentActivityName=".activitys.MainActivity"
            android:theme="@style/AppTheme.WhatsTheGameActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activitys.MainActivity" />
        </activity>
        <activity
            android:name=".activitys.MinigamesActivity"
            android:label="Mini Games"
            android:parentActivityName=".activitys.MainActivity"
            android:theme="@style/AppTheme.WhatsTheGameActivity">
        </activity>
        <activity
            android:name=".activitys.RankActivity"
            android:label="Rank global"
            android:parentActivityName=".activitys.MainActivity"
            android:theme="@style/AppTheme.WhatsTheGameActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activitys.MainActivity" />
        </activity>
        <activity
            android:name=".activitys.MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.WhatsTheGameActivity"
            android:label="What&apos;s the game?"
            android:parentActivityName=".activitys.MainActivity"
            android:theme="@style/AppTheme.WhatsTheGameActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activitys.MainActivity" />
        </activity>
    </application>

</manifest>